
{% extends 'city/base.html' %}

{% load ext %}


{% block content %}

    <!-- from http://loripsum.net/api/12/medium/headers/link/ul/ol/bq/code/ -->

	<h1>Lorum ipsum</h1>

    <h1>Dic in quovis conventu te omnia facere, ne doleas.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Satisne vobis videor pro meo iure in vestris auribus commentatus? Nihilne est in his rebus, quod dignum libero aut indignum esse ducamus? At ille pellit, qui permulcet sensum voluptate. <code>Quid de Pythagora?</code> <code>Duo Reges: constructio interrete.</code> Qua igitur re ab deo vincitur, si aeternitate non vincitur? De vacuitate doloris eadem sententia erit. Nam Pyrrho, Aristo, Erillus iam diu abiecti. </p>

    <h1>Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster?</h1>

    <p><code>Sed nimis multa.</code> Maximas vero virtutes iacere omnis necesse est voluptate dominante. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Quia nec honesto quic quam honestius nec turpi turpius. Vitiosum est enim in dividendo partem in genere numerare. Quae in controversiam veniunt, de iis, si placet, disseramus. Sint modo partes vitae beatae. </p>

    <p>Summae mihi videtur inscitiae. <code>Hic ambiguo ludimur.</code> Verba tu fingas et ea dicas, quae non sentias? Ergo hoc quidem apparet, nos ad agendum esse natos. Tum Quintus: Est plane, Piso, ut dicis, inquit. </p>

    <h3>Honesta oratio, Socratica, Platonis etiam.</h3>

    <p><code>Ita credo.</code> Istam voluptatem perpetuam quis potest praestare sapienti? Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Ego quoque, inquit, didicerim libentius si quid attuleris, quam te reprehenderim. Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Ea possunt paria non esse. Innumerabilia dici possunt in hanc sententiam, sed non necesse est. Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. </p>

    <ul>
        <li>Et quod est munus, quod opus sapientiae?</li>
        <li>Pauca mutat vel plura sane;</li>
        <li>Idemne, quod iucunde?</li>
        <li>Isto modo, ne si avia quidem eius nata non esset.</li>
    </ul>


    <h2>At habetur! Et ego id scilicet nesciebam! Sed ut sit, etiamne post mortem coletur?</h2>

    <p>Nunc omni virtuti vitium contrario nomine opponitur. Respondeat totidem verbis. Si autem id non concedatur, non continuo vita beata tollitur. Quod autem satis est, eo quicquid accessit, nimium est; <a href='http://loripsum.net/' target='_blank'>Si quae forte-possumus.</a> Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. </p>

    <h2>Quamquam tu hanc copiosiorem etiam soles dicere.</h2>

    <p>Pauca mutat vel plura sane; Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit. Facit enim ille duo seiuncta ultima bonorum, quae ut essent vera, coniungi debuerunt; Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Prodest, inquit, mihi eo esse animo. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; </p>

    <blockquote cite='http://loripsum.net'>
        Quis enim est, qui non videat haec esse in natura rerum tria?
    </blockquote>


    <h6>Similiter sensus, cum accessit ad naturam, tuetur illam quidem, sed etiam se tuetur;</h6>

    <p>Color egregius, integra valitudo, summa gratia, vita denique conferta voluptatum omnium varietate. Quid turpius quam sapientis vitam ex insipientium sermone pendere? Quae cum essent dicta, finem fecimus et ambulandi et disputandi. Non dolere, inquam, istud quam vim habeat postea videro; Itaque nostrum est-quod nostrum dico, artis est-ad ea principia, quae accepimus. </p>

    <p>Nulla profecto est, quin suam vim retineat a primo ad extremum. In quo etsi est magnus, tamen nova pleraque et perpauca de moribus. Respondent extrema primis, media utrisque, omnia omnibus. Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Servari enim iustitia nisi a forti viro, nisi a sapiente non potest. Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur. </p>

    <ol>
        <li>Quod vestri quidem vel optime disputant, nihil opus esse eum, qui philosophus futurus sit, scire litteras.</li>
        <li>Nam Pyrrho, Aristo, Erillus iam diu abiecti.</li>
        <li>Philosophi autem in suis lectulis plerumque moriuntur.</li>
        <li>Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur.</li>
    </ol>


    <h4>Summae mihi videtur inscitiae.</h4>

    <p>Et nemo nimium beatus est; Sed tu istuc dixti bene Latine, parum plane. Sed tamen intellego quid velit. <a href='http://loripsum.net/' target='_blank'>Scrupulum, inquam, abeunti;</a> <code>Num quid tale Democritus?</code> <code>Idemne, quod iucunde?</code> Cave putes quicquam esse verius. </p>

    <h5>Paupertas si malum est, mendicus beatus esse nemo potest, quamvis sit sapiens.</h5>

    <p>At enim hic etiam dolore. Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Ita graviter et severe voluptatem secrevit a bono. Apparet statim, quae sint officia, quae actiones. Et ille ridens: Video, inquit, quid agas; Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; </p>

    <blockquote cite='http://loripsum.net'>
        Qui cum cruciaretur non ferendis doloribus, propagabat tamen vitam aucupio, sagittarum ictu configebat tardus celeres, stans volantis, ut apud Accium est, pennarumque contextu corpori tegumenta faciebat.
    </blockquote>


    <p>Sed quot homines, tot sententiae; Recte dicis; Tecum optime, deinde etiam cum mediocri amico. Ita credo. Ergo illi intellegunt quid Epicurus dicat, ego non intellego? <a href='http://loripsum.net/' target='_blank'>Cur iustitia laudatur?</a> Videsne quam sit magna dissensio? Quid autem habent admirationis, cum prope accesseris? </p>

    <pre>
    Vos ex his tam dissimilibus rebus non modo nomen unum -nam
    id facilius paterer-, sed etiam rem unam ex duabus facere
    conamini, quod fieri nullo modo potest.

    Hanc se tuus Epicurus omnino ignorare dicit quam aut qualem
    esse velint qui honestate summum bonum metiantur.
    </pre>


    <ul>
        <li>Primum Theophrasti, Strato, physicum se voluit;</li>
        <li>Quodcumque in mentem incideret, et quodcumque tamquam occurreret.</li>
    </ul>


    <p>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Egone quaeris, inquit, quid sentiam? <a href='http://loripsum.net/' target='_blank'>Quid iudicant sensus?</a> Quid iudicant sensus? Cum autem negant ea quicquam ad beatam vitam pertinere, rursus naturam relinquunt. Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Hoc non est positum in nostra actione. At, si voluptas esset bonum, desideraret. </p>

    <pre>
    Hoc autem loco tantum explicemus haec honesta, quae dico,
    praeterquam quod nosmet ipsos diligamus, praeterea suapte
    natura per se esse expetenda.

    Expressa vero in iis aetatibus, quae iam confirmatae sunt.
    </pre>


    <ol>
        <li>Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur.</li>
        <li>At iste non dolendi status non vocatur voluptas.</li>
        <li>Quid ergo attinet gloriose loqui, nisi constanter loquare?</li>
        <li>Vives, inquit Aristo, magnifice atque praeclare, quod erit cumque visum ages, numquam angere, numquam cupies, numquam timebis.</li>
        <li>Tum Torquatus: Prorsus, inquit, assentior;</li>
    </ol>

{% endblock content %}


