
{% load hreflang %}

{% translate_url 'ne-nl' %}

{% hreflang_tags %}

<ul>
	{% lang_list %}
</ul>

<ul>
	{% other_lang_list %}
</ul>


<html lang="en">
	{% block menu %}
	    {# <li><a class="{% if_url 'stuff' %}" href='{% url 'stuff' %}'><i class="glyphicon glyphicon-heart"></i> stuff</a></li> #}
	{% endblock menu %}

	{% block content %}
	    empty document for project's base.html
	{% endblock content %}
</html>


