
{% extends BASE_TEMPLATE %}

{% load ext %}


{% block title %}
    Games
	{{ TITLE_SEPARATOR }}
	{{ block.super }}
{% endblock title %}

{% block content %}

	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<td>Name</td>
				<td>Players</td>
				<td>Created</td>
			</thead>
			<tbody>
			{% for game in games %}
				<tr>
					<td>{{ game.name }}</td>
					<td>{{ game.players.count }}</td>
					<td>{{ game.created|timesince }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content %}


